
@mixin buttonStyle($width, $height, $bg) {
    width: $width;
    height: $height;
    line-height: $height;
    text-align: center;
    color: #fff;
    background: $bg;
    border-radius: 2px;
  }
  
  @mixin Ellipsis{
    overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
  }
  
  @mixin EllipsisMore($height, $lineHeight, $num){
    width:100%;
    min-height: 20px;
    max-height: $height;
    line-height: $lineHeight; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: $num;
    -webkit-box-orient: vertical;
  }
  